<div id="loader"></div>
<div class="no_display">
    <input type="hidden" value="<%= current_user.id %>" id="user_id"/>
</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    jQuery.when($('.no_display').append("<%= escape_javascript render(:partial => 'chat_rooms/main') %>")).done(function () {
        jQuery.when($.getScript("/assets/nice_scroll.js")).done(function () {
            jQuery.when($.getScript("/assets/chat.js")).done(function () {
                jQuery.when($.getScript("/assets/add_chat_room.js")).done(function () {
                    jQuery.when($.getScript("/assets/purl.js")).done(function () {
                        console.log('done')
                        user_id = $("#user_id").val();
                        $(".chat").niceScroll();
                        $('.dropdown').dropdown();
                        get_all_chat_rooms();
                        get_chat_room(document.location.hash.split('=')[1]);
                        connecting(document.location.hash.split('=')[1]);

                    });
                });
            });
        });
    });

});
</script>
