<div id="loader"></div>
<div  class="no_display">
<input type="hidden" value="<%= current_user.id %>" id="user_id"/>
</div>
</div>


    <!-- Modal -->
<!-- Modal -->


<script  type="text/javascript">
$( document ).ready(function() {

    jQuery.when($('.no_display').append("<%= escape_javascript render(:partial => 'chat_rooms/main') %>")).done(function(){
      console.log("1");
      jQuery.when($.getScript("/assets/chat.js")).done(function(){
        console.log("2");
        jQuery.when($.getScript("/assets/add_chat_room.js")).done(function(){
          console.log("3");
          jQuery.when($.getScript("/assets/purl.js")).done(function(){
            console.log("4");
              user_id = $("#user_id").val();
              $(".chat").niceScroll();
              console.log("5");
              $('.dropdown').dropdown();
              console.log("6");
              get_all_chat_rooms();
              get_chat_room()
              console.log("7");
              console.log("9");


});
});
});
});

});
</script>
