//"<a data-remote=true rel=nofollow data-method=delete href=/comments/113>delete</a>"

//найти эту ссылку
//удалить родительский див
// find element by 2 parameters: data-method=delete href=/comments/@id
//var href = "a" + "[href='/comments/" + "<%= @id %>" + ']';

$("#<%= @id %>").remove();
