
    <div class="input-group">
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li><a href="#contains">Users</a></li>
                <li><a href="#its_equal">Posts</a></li>
            </ul>
        </div>
        <input type="text" value="<%=@query%>" class="form-control" id="search_field" placeholder="<%= t '.search' %>">

        <span class="input-group-btn">
            <button class="btn btn-default" id="search_button" onclick="perform_search()" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>



