<%#<script src="/assets/search.js"></script>%>
<link rel="stylesheet" href="/assets/search.css" title="" type="" />

<div class="col-sm-4 col-sm-offset-6">
    <div class="input-group pull-right">

        <span class="input-group-btn">
            <input type="checkbox" data-size="small" class="input-group-addon " checked id="search-type" data-on-text="Users" data-off-text="Posts">
        </span>

        <input type="text" id="search_field" class="form-control input-sm" placeholder='Search' value="<%=@query%>" id="search_field"/>

        <div class="panel panel-default search-result" id="result-window">
            <%=render partial: 'search/user_mini'%>
            <ul id="results">
            </ul>
        </div>



        <span class="input-group-btn">
            <%= button_tag(type: 'submit', class: 'btn btn-default btn-sm') do %>
                <span class="glyphicon glyphicon-search" id="search_button"></span>
            <% end %>
        </span>
    </div>

</div>



<script>
   var b_switch =  $('#search-type').bootstrapSwitch()
   b_switch.defaults.size = "small"
</script>
