<script src="/assets/search.js"></script>
<link rel="stylesheet" href="/assets/search.css" title="" type="" />
<div class="col-sm-8">
    <div class="input-group">

        <span class="input-group-btn">
            <input type="checkbox" class="input-group-addon" checked id="search-type" data-on-text="Users" data-off-text="Posts">
        </span>

        <input type="text" id="search_field" class="form-control" placeholder='Search' value="<%=@query%>" id="search_field"/>

        <div class="panel panel-default search-result" id="result-window">
            <%=render partial: 'search/user_mini'%>
            <ul id="results">
            </ul>
        </div>



        <span class="input-group-btn">
            <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
                <span class="glyphicon glyphicon-search" id="search_button"></span>
            <% end %>
        </span>
    </div>

</div>



<script>
    $('#search-type').bootstrapSwitch()
</script>
