<li id="user-mini-template" style="display:none">
    <div class="row">
        <div class="col-sm-1">
            <a class="user_ref"><img class="img-circle" id="avatar" width="40" height="40"></img></a>
        </div>

        <div class="userinfo">
            <div class="col-sm-4">
                <a class="user_ref"><h4 id="title" class="text-info"></h4></a>
            </div>
        </div>
    </div>
</li>
