<li id="user-mini-template" style="display:none">
    <div class="row">
        <div class="col-sm-2">
            <a class="user_ref"><img class="img-thumb" id="avatar" width="32" height="32"></img></a>
        </div>
        <div class="userinfo">
            <div class="col-sm-7">
                <b><a class="user_ref"><h5 id="title" class="text-primary"></h5></a></b>
            </div>
        </div>
    </div>
</li>
