
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.login %></h1>
    <p>
      you was locked for reason <%= @reason%>.<br>
    </p>
    <p>
      For login the site you can send report for unlocket your account 
    </p>
    <a href='http://<%= @url %>'> got</a>
  </body>
</html>