
<% post %>
<% user %>
<% clips = post.attachments.video %>
<% arr = clips[0..2] %>
<% if arr.size > 0 %>
  <% cols = 12/arr.size %>
<% else %>
  <% cols = 12 %>
<% end %>
<div class="row">
    <% arr.each do |clip| %>
      <div class="col-md-<%= cols %>">
        <%= video_tag clip.file.to_s, width: 200, height: 180 %>
        <div><%= clip.file.to_s.split('/').last %></div>
      </div>
    <% end %>
</div>

<% if clips.count > 3 %>
    <div class="row">
      <div class="col-md-2">
        <%= link_to 'All clips...',   user_post_show_all_videos_modal_path(user, post), remote: true %>
      </div>
    </div>
<% end %>








