
<% post %>
<% user %>
<% clips = post.attachments.video %>


<div class="row">


      <div class="col-md-12 posts-video-block-thumb-cell">
          <%= video_tag clips.first.file.to_s, class:'posts-video-block-thumb-clip' %>
            <%= link_to clips.first.file.to_s.split('/').last.split('.').first %>
        <% if clips.count > 1 %>
            <%= link_to   user_post_show_all_videos_modal_path(user, post), remote: true do %>
                <div class="mask"><p class="mask-p">+<%= clips.count -1 %></p></div>
            <% end %>
        <% end %>
      </div>


</div>










