<link rel="stylesheet" href="/assets/users_search.css"></link>
<script type="text/javascript" charset="utf-8">
    var page = "search"
</script>
<div class="main-container panel panel-default" id="home">
    <div class="panel-body">
        <%=render partial:  "search/user"%>
        <div id="users"></div>
        <div id="posts"></div>
    </div>
</div>
