<%=form_for([current_user,post,@attachment],html:{multipart:true,class:'dropzone',id:'new_upload'}) do |f|%>
    <div class="fallback">
        <%=f.file_field :file%>
        <%#<%=f.hidden_field :post_id, value: post.id%>
        <%=f.submit "Upload"%>
    </div>
<%end%>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
        Dropzone.autoDiscover = false;


            $("#new_upload").dropzone({
                maxFilesize:700,
                paramName: "attachment[file]",
                    addRemoveLinks: true
            });
    });
</script>
