<link rel="stylesheet" href="/assets/attachments.scss"/>

<div class='row'>	
	<div class='col-sm-10' >
		<%= render partial: "/attachments/audio", locals:{post_id: post_id} %>
	</div>
	
	<div class='col-sm-2'>	
		<%= render partial: "/attachments/images", locals:{post_id: post_id} %>
	</div> 
</div>

<%= render partial: '/attachments/videos', locals:{post_id: post_id} %>