
<% post = Post.find(post_id) %>
<% images = post.attachments.image %>

<div class='col-sm-2'>
	<% i = 0 %>
	<% images.each do |image| %>
      <a  data-toggle="modal" href="#post-<%= post.id %>-modal">
			    <%=image_tag image.file.to_s, :width => 70, :height => 60 %><br>
      </a>
		<% i += 1 %>
		<% break if i == 2 %>
	<% end %>
  <% if images.count > 2 %>
      <a  data-toggle="modal" href="#post-<%= post.id %>-modal">all...</a>
  <% end %>
  <%= render partial: 'attachments/post_images_modal_gallery', locals:{images: images, post: post} %>

</div> 



	




