<% post = Post.find(post_id) %>
<% videos = post.attachments.video %>

<% unless videos.empty? %>
	<%= link_to 'videos', show_videos_block_path(post_id: post.id), remote: true %><br>
<% end %>

<div id="post-<%= post.id %>-videos" class='post-videos' >
	<% videos.each do |clip| %>
		<%=link_to show_video_path(video_id: clip, post_id: post), remote: true do %>
			<span><%=clip.file.to_s.split('/').last%></span><br>
		<% end %>	
	<% end %>
</div>