<div id='user_template'class='user-template' style="display:none">
    <div class="row" class="user-template">
        <div class="col-sm-1">
            <img class="avatar" alt="" id="avatar"></img>
        </div>

        <div class="userinfo">
            <div class="col-sm-1">
                <h4 id="title" class="text-info"></h5>
            </div>
            <div class="col-sm-1">
                <button onclick="toggle_follow(this.id)" type="button" class="btn btn-sm btn-success" id="follow_button">follow</button>
            </div>

        </div>
    </div>

    <hr /> </div>
