<script src="assets/home.js"></script>
<link rel="stylesheet" href="assets/home.css"></link>

<div class="home-container panel panel-default" id="home">
    <div class="panel-body">
        <%=render partial:  "home/user"%>
        <div id="users"></div>
        <div id="posts"></div>
    </div>
</div>
