<h2>All Photos</h2>

<div class="fotorama" data-width="90%"
     data-height="80%" data-nav="thumbs"  data-fit="cover" data-clicktransition="crossfade" data-transition="slide"
     data-hash="true" data-loop="true" data-autoplay="true"
     data-shuffle="true" data-keyboard="true"
     data-keyboard='{"space": true, "home": true, "end": true, "up": true, "down": true}'
     data-navposition="top">

      <% @photos.each do |photo| %>
          <%= image_tag photo.file.to_s, data:{caption: 'Caption'} %>
      <% end %>

</div>

