<% if @user.id == current_user.id %>
    <%= link_to 'Add New Photo Album', new_user_photo_album_path(@user), class:'btn btn-default' %>
<% end %>

<% @user.photo_albums.each do |album| %>
   <h2> <%= link_to album.name, user_photo_album_path(@user, album) %></h2></br>
<% end %>



