<!-- <button id="new_post_but">New Post</button> -->
<%=form_for [@user, @post] do |f|%>
    <%=f.hidden_field :text,value:'New post'%>
    <%=f.hidden_field :post_type, value: "post" %>
    <%=f.submit t('.new_post'), class:'btn btn-primary'%>
    <% end %>
</div>
