<link rel="stylesheet" href="/assets/show.css"/>

<div class="user-cont"> 
    <%= form_for @post, url: user_post_path(current_user, @post), method: :put do |f| %>
        <%= f.text_area :text %><br><br>
        <%= f.submit "Edit post" %>
    <% end %>
    <%=render partial: 'attachments/add_file',locals:{post:@post}%>
</div>
