.post-audios{
	display: none;
}

.post-videos{
	display: none;
}

.post-modal-image{
    width: 100%;
}

.post-modal-images-row{
    margin-bottom: 10px;
}

.post-remove-image{
  top: -8px;
  position: absolute;
  right: 14px;
  font-size: 23px;
  background: white;
}
