.post-audios{
	display: none;
}

.post-videos{
	display: none;
}

.post-modal-image{
    width: 100%;
}

.post-modal-images-row{
    margin-bottom: 0px;
    margin-top: 9px;
}

.posts-thumb-image{
  width: 100px;
  margin-bottom: 2px;
}
