.comments-area{
	display: none;
	background-color: #f5f5f5;
	position: relative;
    left: 20px;
    padding: 20px;
    width: 620px;
}

.comments-textarea{
	width: 360px;
	height: 40px;
}

.personal-comment-dialog-area{
	background-color: #f5f5f5;
    position: relative;
    left: 60px;
    display: none;
    width: 517px;
    padding: 20px;
}

