.comments-area{
	display: none;
	background-color: grey;
	position: relative;
    left: 20px;
}

.personal-comment-dialog-area{
	background-color: yellowgreen;
    position: relative;
    left: 20px;
}

