.comments-area{
	display: none;
	background-color: rgba(255, 255, 255, 0.15);
	position: relative;
    left: 20px;
    padding: 20px;
    width: 620px;

    height: 300px;
    overflow: auto;
    
}

.comments-textarea{
	width: 360px;
	height: 40px;
}

.personal-comment-dialog-area{
	background-color: rgba(255, 255, 255, 0.15);
    position: relative;
    left: 60px;
    display: none;
    width: 517px;
    padding: 20px;


    
    
}

.comment-user{
    display:inline-block;
    color: blue;
}

