// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-container{
    margin-top :15px;
}
.avatar{
    border-radius: 50%;
}
.user-template{
    margin-bottom:25px;
    margin-top:25px;
    margin-left:15px;
}
.userinfo{
    margin-left:110px;
    padding: 10px
}

