// Place all the styles related to the PhotoAlbums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-picture{

  width: 100%;
  height: 215px;
}

.photo-albums-pictures-row{
    margin-top: 50px;

}

.photo-albums-remove-link{
    position: absolute;
    top: -19px;
    right: 4px;
    font-size: 19px;
    color: grey;
}


