// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-modals-clip{
  width: 100%;
  border: 1px solid;
}

.posts-modals-clips-row{
  margin-top: 60px;
}

.posts-modals-clips-title{
  margin-left: 20px;
}

.posts-modal-clips-remove-link{
  position: absolute;
  top: -24px;
  right: 3px;
  color: grey;
  font-size: 21px;
}

.posts-modal-content{
  padding-left: 20px;
  padding-right: 20px;
}